spring:
  application:
    name: 'Authentication'

  profiles:
    active: 'prod'

  datasource:
    driver-class-name: org.postgresql.Driver
    url: 'jdbc:postgresql://127.0.0.1/app'
    username: 'dbuser'
    password: 'dbpassword'

  redis:
    url: 'redis://redis:6379'
    timeout: 60000

    data:
      redis:
        repositories:
          enabled: false

storage:
  redis:
    prefix: 'auth_token_'
    ttl: '1d'

security:
  client:
    cookies:
      name: 'auth'
      ttl: '1d'
      secure: false
      httpOnly: true

logging:
  level:
    bp:
      authentication: 'info'
